# | Fichier de configuration du plugin |

[Datas]
# !! Les données doivent etre séparées par des virgules pour etre reconnues comme une liste !!

# Nom de la couche des bassins versants
nom_couche_bassins=Bassins versants
# Nom de la colone du libellé des bassins versants
libelle_couche_bassins=LIB

# Nom de la couche des types
nom_couche_type=type

# Liste des indices de retour annuels
indices=Q10,Q20,Q30,Q50,Q100,Qex,AZI